body {
  padding-top: 0;
}
h4 {
  font-weight: bold;
}
.grid-col--1 {
  flex: 1 1 0 !important;
}
.main-header.fixed, footer {
  display: none;
}
.fastly-logo {
  width: 140px;
}
.header {
  background: -webkit-linear-gradient(240deg, #c1272d 50%, #ed1c24 75%, #f15a24 95%);
  background: linear-gradient(120deg, #c1272d 50%, #ed1c24 75%, #f15a24 95%)
}
.header-text {
  color: #fff;
  padding-bottom: 4rem;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  padding: 4rem 0;
  background: linear-gradient(to bottom, #0071bc 2px, white 2px);
  background-size: 10%;
  background-repeat: repeat-x;
  background-position: 0 90px;
  .unit {
    position: relative;
    @media only screen and (max-width : 990px){
      width: 50%;
      text-align: right;
      padding-right: 30px;
    }
  }
  .unit:nth-of-type(2n+2) {
    align-self: flex-end;
    @media only screen and (max-width : 990px){
      text-align: left;
      padding-left: 30px;
    }
    a::after {
      top: auto;
      bottom: 44px;
      @media only screen and (max-width : 990px){
        top: 10px;
        bottom: auto;
        right: auto;
        left: -37px;
      }
    }
  }
  a {
    position: relative;
    color: #7C7C7C;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #0071bc;
    border-radius: 4px;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover, &.active {
      color: red;
      border-color: red;
      &::after {
        border-color: red;
      }
    }
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border: 2px solid #0071bc;
      border-radius: 10px;
      background: white;
      display: flex;
      position: absolute;
      top: 46px;
      left: 45%;
      @media only screen and (max-width : 990px){
        top: 10px;
        left: auto;
        right: -37px;
      }
    }
  }
  &::before {
    content: "";
    border-left: 2px solid #0071bc;
    top: 1px;
    left: 0;
    position: relative;
    height: 10px;
    margin: auto 0;
  }
  &::after {
    content: "";
    border-right: 2px solid #0071bc;
    top: 1px;
    right: 0;
    position: relative;
    height: 10px;
    margin: auto 0;
  }
  @media only screen and (max-width : 990px){
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
    background: linear-gradient(to right, #0071bc 2px, white 2px);
    background-size: 10%;
    background-repeat: repeat-y;
    background-position: 55.4% 0;
    &::before {
      content: "";
      border-top: 2px solid #0071bc;
      border-left: none;
      top: -10px;
      position: relative;
      width: 10px;
      margin: 0 auto;
    }
    &::after {
      content: "";
      border-bottom: 2px solid #0071bc;
      border-right: none;
      top: auto;
      bottom: -10px;
      position: relative;
      width: 10px;
      margin: 0 auto;
    }
  }
}
.event {
  position: relative;
  top: 0;
  opacity: 1;
  height: auto;
  transition: all 0.5s;
}
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
  to right,
  transparent 0%,
  transparent calc(50% - 0.81px),
  #0071bc calc(50% - 0.8px),
  #0071bc calc(50% + 0.8px),
  transparent calc(50% + 0.81px),
  transparent 100%
  );
  padding: 20px 0;
  .unit {
    position: relative;
    width: 50%;
    padding: 20px;
    margin: -15px 0;
    right: 1px;
    transition: all 0.5s;
    &.active {
      background: #e9f5fb;
      &::after {
        border-color: red;
      }
    }
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #0071bc;
      border-radius: 10px;
      background: white;
      display: flex;
      position: absolute;
      top: 40%;
      right: -11px;
      transition: all 0.5s;
    }
    &:nth-of-type(2n+2), &.right {
      align-self: flex-end;
      left: 1px;
      &::after {
        right: auto;
        left: -11px;
      }
    }
    &.left {
      align-self: flex-start;
      padding: 20px 20px 20px 0;
    }
  }
  &::before {
    content: "";
    border-bottom: 2px solid #0071bc;
    top: -20px;
    position: relative;
    width: 40px;
    margin: 0 auto;
  }
  &::after {
    content: "";
    border-bottom: 2px solid #0071bc;
    bottom: -20px;
    position: relative;
    width: 40px;
    margin: 0 auto;
  }
}
.endcap {
  align-self: center;
  text-align: center;
  a {
    position: relative;
    color: #7C7C7C;
    text-align: center;
    border: 2px solid #0071bc;
    border-radius: 4px;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    top: 2px;
    &:hover, &.active {
      color: red;
      border-color: red;
      &::after {
        border-color: red;
      }
    }
  }
}
.hidden {
  transition: all 0.5s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  top: -20px;
}

.main-content {
  min-height: 1000px;
}

.divider {
  border: 1px solid grey;
  border-width: 1px 0 0;
  padding: 0;
}

.graph {
  position:relative;
}

.data-point {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #0071bc;
  border-radius: 10px;
  background: #fff;
  transition: all 0.5s;
  &.active {
    border-color: red;
  }
}

.point-fern-1 { top: 52%; left: 47%; }
.point-debate1-1 { top: 60%; left: 22%; }
.point-debate1-2 { top: 16%; left: 26% }
.point-debate1-3 { top: 50%; left: 49% }
.point-debate-hrc-1 { top: 84%; left: 3% }
.point-debate-hrc-2 { top: 9%; left: 29.5% }
.point-debate-hrc-3 { top: 77%; left: 63.5% }
.point-debate-hrc-4 { top: 76%; left: 82% }
.point-debate2-1 { top: 57%; left: 13%; }
.point-debate2-2 { top: 67%; left: 19% }
.point-debate2-3 { top: 51%; left: 29% }
.point-debate2-4 { top: 34%; left: 74.5% }
.point-debate3-1 { top: 46%; left: 45%; }
.point-debate3-2 { top: 54%; left: 65% }
.point-debate3-3 { top: 29%; left: 81% }
