$fastly-red: #E82C2A;
$fastly-orange: #f15a24;
$fastly-blue: #147FBD;
$fastly-grey-dark: #7C7C7C;
$fastly-blue-lightest: #CEECF9;
$break-sm: map-get($grid-breakpoints, 'sm');
$break-lg: map-get($grid-breakpoints, 'lg');

body {
  padding-top: 0;
}
h4 {
  font-weight: bold;
}
.grid-col--1 {
  flex: 1 1 0 !important;
}
.main-header.fixed, footer {
  display: none;
}
.fastly-logo {
  width: 140px;
}
.header {
  background: -webkit-linear-gradient(240deg, #c1272d 50%, #ed1c24 75%, $fastly-orange 95%);
  background: linear-gradient(120deg, #c1272d 50%, #ed1c24 75%, $fastly-orange 95%)
}
.header-text {
  color: #fff;
  padding-bottom: 4rem;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
  a {
    color: #fff;
    text-decoration: underline;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
  }
}
.mini-nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  a {
    color: $fastly-grey-dark;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
    &:hover {
      //color: lighten($fastly-red, 20%);
      border-bottom: 2px solid lighten($fastly-red, 20%);
    }
    &.active {
      color: $fastly-red;
      border-bottom: 2px solid $fastly-red;
    }
  }
  @media only screen and (max-width: $break-sm){
    a {
      font-size: 16px;
    }
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  background: linear-gradient(180deg, transparent, $fastly-blue, transparent);
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  &::before, &::after {
    content: '';
    top: 1px;
    left: 0;
    position: relative;
    height: 10px;
    margin: auto 0;
  }
  &::before {
    border-left: 2px solid $fastly-blue;
  }
  &::after {
    border-right: 2px solid $fastly-blue;
  }
  @media only screen and (max-width: $break-sm){
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
    &::before {
      border-left: 0;
    }
    &::after {
      border-right: 0;
    }
  }
  .unit {
    position: relative;
    @media only screen and (max-width:  $break-sm){
      width: 100%;
      text-align: center;
      padding-right: 5px;
      margin-bottom: 20px;
      background: white;
    }
  }
  a {
    position: relative;
    color: $fastly-blue;
    background: white;
    padding: 10px 0;
    text-align: center;
    border: 2px solid $fastly-blue;
    border-radius: 4px;
    padding: 3px 5px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover, &.active {
      color: $fastly-red;
      border-color: $fastly-red;
      &::after {
        border-color: $fastly-red;
      }
    }
  }
}
.navigation.chronological {
  min-height: 180px;
  .unit {
    position: relative;
    @media only screen and (max-width: $break-lg){
      width: 50%;
      text-align: right;
      padding-right: 5px;
    }
    @media only screen and (max-width:  $break-sm){
      width: 100%;
      text-align: center;
      padding-right: 5px;
      margin-bottom: 20px;
      background: white;
    }
  }
  .unit:nth-of-type(2n+2) {
    align-self: flex-end;
    @media only screen and (max-width: $break-lg){
      text-align: left;
      padding-left: 5px;
    }
    @media only screen and (max-width:  $break-sm){
      text-align: center;
    }
    a::after {
      top: auto;
      bottom: 44px;
      @media only screen and (max-width: $break-lg){
        top: 10px;
        bottom: auto;
        right: auto;
        left: -12px;
      }
    }
  }
  a {
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border: 2px solid $fastly-blue;
      border-radius: 10px;
      background: white;
      display: flex;
      position: absolute;
      z-index: 1;
      top: 46px;
      left: 45%;
      @media only screen and (max-width: $break-lg){
        top: 10px;
        left: auto;
        right: -12px;
      }
      @media only screen and (max-width: $break-sm){
        display: none;
      }
    }
  }
  @media only screen and (max-width: $break-lg){
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
    background: linear-gradient(90deg, transparent, $fastly-blue, transparent);
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: 3px 3px;
    &::before, &::after {
      position: relative;
      width: 10px;
      margin: 0 auto;
    }
    &::before {
      top: -10px;
      border-top: 2px solid $fastly-blue;
      border-left: none;
    }
    &::after {
      top: auto;
      bottom: -10px;
      border-bottom: 2px solid $fastly-blue;
      border-right: none;
    }
  }
}
.event {
  position: relative;
  top: 0;
  opacity: 1;
  height: auto;
  transition: all 0.5s;
}
.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(90deg, transparent, $fastly-blue, transparent);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 3px 3px;
  padding: 20px 0;
  .unit {
    position: relative;
    width: 50%;
    padding: 20px;
    margin: -15px 0;
    right: 1px;
    transition: all 0.5s;
    &.active {
      background: $fastly-blue-lightest;
      &::after {
        border-color: $fastly-red;
      }
    }
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid $fastly-blue;
      border-radius: 10px;
      background: white;
      display: flex;
      position: absolute;
      z-index: 1;
      top: 40%;
      right: -11px;
      transition: all 0.5s;
    }
    &:nth-of-type(2n+2), &.right {
      align-self: flex-end;
      left: 1px;
      &::after {
        right: auto;
        left: -11px;
      }
    }
    &.left {
      align-self: flex-start;
      padding: 20px 20px 20px 0;
    }
  }
  &::before {
    content: "";
    border-bottom: 2px solid $fastly-blue;
    top: -20px;
    position: relative;
    width: 40px;
    margin: 0 auto;
  }
  &::after {
    content: "";
    border-bottom: 2px solid $fastly-blue;
    bottom: -20px;
    position: relative;
    width: 40px;
    margin: 0 auto;
  }
}
.endcap {
  align-self: center;
  text-align: center;
  a {
    position: relative;
    padding: 5px 10px;
    top: 2px;
    color: $fastly-blue;
    text-align: center;
    border: 2px solid $fastly-blue;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 22px;
    font-weight: bold;
    &:hover, &.active {
      color: $fastly-red;
      border-color: $fastly-red;
      &::after {
        border-color: $fastly-red;
      }
    }
  }
}

.hidden {
  transition: all 0.5s;
  height: 0;
  opacity: 0;
  overflow: hidden;
  top: -20px;
}

.main-content {
  min-height: 1000px;
}

.divider {
  border: 1px solid $fastly-grey-dark;
  border-width: 1px 0 0;
  padding: 0;
}

.graph {
  position:relative;
  color: $fastly-blue;
}

.graph-title {
  display: block;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  h2 {
    color: $fastly-blue;
  }
}

.data-point {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid $fastly-blue;
  border-radius: 10px;
  background: #fff;
  transition: all 0.5s;
  &.active {
    border-color: $fastly-red;
  }
}

.point-ferns-1 { top: 52%; left: 47%; }
.point-debate1-1 { top: 60%; left: 22%; }
.point-debate1-2 { top: 16%; left: 26% }
.point-debate1-3 { top: 50%; left: 49% }
.point-debate-hrc-1 { top: 84%; left: 3% }
.point-debate-hrc-2 { top: 9%; left: 29.5% }
.point-debate-hrc-3 { top: 77%; left: 63.5% }
.point-debate-hrc-4 { top: 76%; left: 82% }
.point-debate2-1 { top: 57%; left: 13%; }
.point-debate2-2 { top: 67%; left: 19% }
.point-debate2-3 { top: 51%; left: 29% }
.point-debate2-4 { top: 34%; left: 74.5% }
.point-debate3-1 { top: 46%; left: 45%; }
.point-debate3-2 { top: 54%; left: 65% }
.point-debate3-3 { top: 29%; left: 81% }
.point-election-1 { top: 49%; left: 29% }
.point-election-2 { top: 48%; left: 37% }
.point-election-3 { top: 34%; left: 43% }
.point-election-4 { top: 22%; left: 52% }
.point-election-5 { top: 10%; left: 54% }
.point-election-6 { top: 19%; left: 65.5% }
.point-election-nyt-1 { top: 71%; left: 38% }
.point-election-nyt-2 { top: 41%; left: 45% }
.point-election-nyt-3 { top: 18%; left: 50% }
.point-election-nyt-4 { top: 1%; left: 54.5% }

.point-ecommerce-1 { top: 55%; left: 18% }
.point-ecommerce-2 { top: 44%; left: 25% }
.point-ecommerce-3 { top: 53%; left: 32% }
.point-ecommerce-4 { top: 31%; left: 35% }
.point-ecommerce-5 { top: 42%; left: 41% }
.point-ecommerce-6 { top: 43%; left: 73% }
.point-ecommerce-7 { top: 49%; left: 73.5% }
.point-ecommerce-8 { top: 30%; left: 82% }
.point-ecommerce-9 { top: 33%; left: 88% }
.point-ecommerce-10 { top: 70%; left: 90.5% }

.point-shopify-1 { top: 51%; left: 6% }
.point-shopify-2 { top: 65%; left: 14% }
.point-shopify-3 { top: 42%; left: 29.5% }
.point-shopify-4 { top: 21%; left: 37% }
.point-shopify-5 { top: 27%; left: 41% }
.point-shopify-6 { top: 45%; left: 79% }
.point-shopify-7 { top: 25%; left: 88% }
.point-shopify-8 { top: 31%; left: 95% }

.point-food-1 { top: 51%; left: 7% }
.point-food-2 { top: 29%; left: 18% }
.point-food-3 { top: 71%; left: 23% }
.point-food-4 { top: 71%; left: 34% }
.point-food-5 { top: 80%; left: 37% }
.point-food-6 { top: 80%; left: 84% }

.point-giving-1 { top: 51%; left: 6% }
.point-giving-2 { top: 44%; left: 17% }
.point-giving-3 { top: 68%; left: 22% }
.point-giving-4 { top: 69%; left: 48% }
.point-giving-5 { top: 73%; left: 62% }
.point-giving-6 { top: 73%; left: 76% }
.point-giving-7 { top: 47%; left: 86% }
.point-giving-8 { top: 67%; left: 90% }
.point-giving-9 { top: 34%; left: 95% }

.point-aclu-1 { top: 45%; left: 7% }
.point-aclu-2 { top: 34%; left: 17% }
.point-aclu-3 { top: 55%; left: 21% }
.point-aclu-4 { top: 68%; left: 35% }
.point-aclu-5 { top: 70%; left: 48% }
.point-aclu-6 { top: 77%; left: 63% }
.point-aclu-7 { top: 77%; left: 77% }
.point-aclu-8 { top: 37%; left: 86% }
.point-aclu-9 { top: 72%; left: 90% }


@media only screen and (min-width : 1200px){
  .point-debate1-1 { top: 60%; left: 23%; }
  .point-debate1-2 { top: 16%; left: 26.5% }
  .point-debate1-3 { top: 50%; left: 49% }
  .point-debate-hrc-1 { top: 85%; left: 4% }
  .point-debate-hrc-2 { top: 9%; left: 30.2% }
  .point-debate-hrc-3 { top: 78%; left: 63.5% }
  .point-debate-hrc-4 { top: 77%; left: 82.5% }
  .point-debate2-1 { top: 57%; left: 13.5%; }
  .point-debate2-2 { top: 68%; left: 20% }
  .point-debate2-3 { top: 51%; left: 29.3% }
  .point-debate2-4 { top: 34%; left: 75% }
  .point-debate3-1 { top: 47%; left: 46%; }
  .point-debate3-2 { top: 55%; left: 65% }
  .point-debate3-3 { top: 29.5%; left: 81.5% }
}
